.content{
   
    width: 100%;
    background-color: #ffbc00;
    /* border-top-left-radius: 13px;
    border-bottom-left-radius: 13px; */
}

.box_content{
    align-items: center;
  
  

}

.Box_sary{
    align-items: center;
}
.Box_sary img{
    border-radius: 50%;
    width: 5%;
}

.Box_name_andfiliere{
    font-family: system-ui;
    color: #4d4949;
    font-weight: 600;
}


.btnconnect{

    border-radius: 8px;
    transition: 0.5s;
}

.btnconnect:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.btndeconnect{
    transition: 0.5s;
}



.btndeconnect:hover{
    transition: 0.5s;
    transform: scale(1.1);
}