.section{
    /* position: fixed; */
}
.burger{
    color: black;
}


.lien{

}

.name{
color: black;
}

.name2{

}

.icon{
color: black;
}

.active{
color: #ffbc00  ;
transition: 0.3s;
}

.Non_active{
color: white;
transition: 0.3s;
}


.Non_active:hover, .active:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: #ffbc00  ;
}

.btnadmin{
    transition: 0.3s;
    align-items: center;
    padding: 0 0 0 10px;
    display: flex;
    gap: 1rem;
}

.btnadmin:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: #ffbc00  ;
}

.linkadmin{
    transition: 0.3s;
}

.linkadmin:hover{
    
    transition: 3s;
    color: #ffbc00  ;
}