.screen{
    border-radius: 4px;
    background-color: #dfdfdf;
}


.gauche{
  
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
}

.gauche .soratra{
    font-size: 2rem;
}

.seconnecter {
    background-color: #ffbc00;
    border-radius: 3px;
    transition: 0.3s;
}


.droite{
 
}
.contact{
    align-items: center;
}
.contact:hover{
    color: white;
    transform: scale(1.1);
    transition: 0.4s;
}
.cont{
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.4s;
}
.cont:hover{
    color: white;
}
.apropos{
   
    color: white;
    transition: 0.4s;
}
.apropos:hover{
    color: white;
    transform: scale(1.1);
    transition: 0.4s;
}
.boutton{
    padding: 1rem 0 0 0;
    display: flex;
    gap: 1rem;
    transition: 0.4s;
}

.box_droite{
   
}


@media screen and (max-width:428px) {
.gauche{
    display: none;
}
}

@media screen and (max-width: 766px) and (min-width: 428px) {
    .gauche{
        display: none;
    }
}